@font-face {
    font-family: 'Cairo-SemiBold';
    src: url('../fonts/Cairo-SemiBold.ttf');
}

@font-face {
    font-family: 'Cairo-SemiBold';
    src: url('../fonts/Cairo-SemiBold.ttf');
}

* {
    font-family: 'Cairo-SemiBold';
}

input {
  padding: 5px;
  width: 100%;
  border-radius: 40px;
  border: 1px solid #dddd;
  outline: none;
  margin: 10px 0px;
}

.input-group input{
  margin: 0;
}
.nav-tabs{
    border: none !important;
}
textarea {
  resize: none;
  width: 100%;
  border: 1px solid #dddd;
  border-radius: 40px;
  outline: none;
  margin: 10px 0px;
}

.navbar-vertical.navbar-expand-xs.fixed-start {
    left: 0;
  }

.button_save {
  width: 216px;
  float: right;
}

select#cars {
  margin: 10px 0px;
  padding: 10px 15px;
  width: 100%;
  border-radius: 40px;
  border: 1px solid #dddd;
  margin: 10px 0px;
  outline: none;
}

option {padding: 20px 0px;margin: 10px 0px;}

input#vehicle1 {
  width: 29px;
  margin: 10px 0px;
}

label {
  font-size: 15px;
}


.search .button_save .btn {
  margin: 0rem !important;
  margin-bottom: 1rem !important;
  background: linear-gradient(278deg, #3EC4CD 0%, #2A6F74 100%);
}

.col.search.search_rpt {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.grid-1 {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
}

.card-header h6{
    align-self: center;
}

.grid-2 {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0px;
}

.btn-rpt{
    width: 168px;
    float: right;
}


ul.navbar-nav.margine-nav {
    margin-bottom: auto;
}

.notification_dom{
    gap: 30px;
}
@media (min-width: 1200px){
    .sidenav.fixed-start~.main-content {
        margin-left: 17.125rem;
    }
    }
@media screen and (max-width: 1199.98px){
    .notification_dom{
        gap: 0px;
    }
    .g-sidenav-show:not(.rtl) .sidenav {
        transform: translateX(-17.125rem);
      }
      .g-sidenav-show.g-sidenav-pinned .sidenav {
        transform: translateX(0);
      }
}

@media screen and (max-width: 552px){
    .button_save a {
        font-size: 0.54rem;
    }
    .button_save {
        width: 100%;
        float: right;
    }
}




